version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-security-bundle-to-default-catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        chart: security-bundle
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
