clusterID: ""
organization: ""

global:
  # All Apps will be installed in this namespace unless overridden below.
  namespace: "security-bundle"

# User values can be provided via a ConfigMap or Secret for each individual app
# using the structure shown below.

userConfig:
  jiralert:
    configMap:
      values:
        global:
          podSecurityStandards:
            enforced: true
  kyvernoPolicies:
    configMap:
      values:
        kyverno-policies:
          validationFailureAction: Enforce
  kyvernoPolicyOperator:
    configMap:
      values:
        crds:
          install: true

apps:
  cloudnativePG:
    appName: cloudnative-pg
    chartName: cloudnative-pg
    catalog: giantswarm-operations-platform
    enabled: false
    namespace: giantswarm
    # used by renovate
    # repo: giantswarm/cloudnative-pg-app
    version: 0.0.13

  gel:
    appName: gel
    chartName: gel
    catalog: giantswarm-operations-platform
    dependsOn:
      - cloudnative-pg
    enabled: false
    namespace: policy-system
    # used by renovate
    # repo: giantswarm/gel-app
    version: 1.0.1

  exceptionRecommender:
    appName: exception-recommender
    chartName: exception-recommender
    catalog: giantswarm
    dependsOn:
      - kyverno-crds
    enabled: false
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/exception-recommender
    version: 0.1.1

  falco:
    appName: falco
    chartName: falco
    catalog: giantswarm
    enabled: false
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/falco-app
    version: 0.11.0

  jiralert:
    appName: jiralert
    chartName: jiralert
    catalog: giantswarm
    enabled: false
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/jiralert-app
    version: 0.1.3

  kubescape:
    appName: kubescape
    chartName: kubescape
    catalog: giantswarm
    dependsOn:
      - kyverno-crds
    enabled: false
    namespace: kubescape
    # used by renovate
    # repo: giantswarm/kubescape-app
    version: 0.0.4

  kyverno:
    appName: kyverno
    chartName: kyverno
    catalog: giantswarm
    dependsOn:
      - kyverno-crds
      - prometheus-operator-crd
      - alloy-logs
    enabled: true
    namespace: kyverno
    # Options allow to configure timeouts:
    # https://docs.giantswarm.io/getting-started/app-platform/installation-configuration/
    options:
      install:
        timeout: 15m
      upgrade:
        timeout: 15m
    # used by renovate
    # repo: giantswarm/kyverno-app
    version: 0.21.0

  kyvernoCrds:
    appName: kyverno-crds
    chartName: kyverno-crds
    catalog: giantswarm
    enabled: true
    namespace: kyverno
    # used by renovate
    # repo: giantswarm/kyverno-crds
    version: 1.15.0

  kyvernoPolicyOperator:
    appName: kyverno-policy-operator
    chartName: kyverno-policy-operator
    catalog: giantswarm
    dependsOn:
      - kyverno-crds
      - alloy-logs
    enabled: true
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/kyverno-policy-operator
    version: 0.1.6

  # Kyverno policies for Kubernetes Pod Security Standards (PSS).
  # From: https://github.com/giantswarm/kyverno-policies/
  kyvernoPolicies:
    appName: kyverno-policies
    chartName: kyverno-policies
    catalog: giantswarm
    dependsOn:
      - kyverno-crds
    enabled: true
    namespace: kyverno
    # used by renovate
    # repo: giantswarm/kyverno-policies
    version: 0.24.0

  policyApiCrds:
    appName: policy-api-crds
    chartName: policy-api-crds
    catalog: giantswarm
    dependsOn:
      - kyverno-policy-operator
    enabled: false
    namespace: policy-system
    # used by renovate
    # repo: giantswarm/policy-api
    version: 0.0.6

  reportsServer:
    appName: reports-server
    chartName: reports-server
    catalog: giantswarm-operations-platform
    dependsOn:
      - cloudnative-pg
    enabled: false
    namespace: kyverno
    # used by renovate
    # repo: giantswarm/reports-server-app
    version: 0.1.0

  starboardExporter:
    appName: starboard-exporter
    chartName: starboard-exporter
    catalog: giantswarm
    dependsOn:
      - prometheus-operator-crd
    enabled: false
    namespace: security-bundle
    # used by renovate
    # repo: giantswarm/starboard-exporter
    version: 0.8.2

  trivy:
    appName: trivy
    chartName: trivy
    catalog: giantswarm
    enabled: false
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/trivy-app
    version: 0.14.1

  trivyOperator:
    appName: trivy-operator
    chartName: trivy-operator
    catalog: giantswarm
    enabled: false
    # namespace: security-bundle
    # used by renovate
    # repo: giantswarm/trivy-operator-app
    version: 0.12.1
