{{- if .Values.starboard.enabled }}
apiVersion: application.giantswarm.io/v1alpha1
kind: App
metadata:
  annotations:
    chart-operator.giantswarm.io/force-helm-upgrade: "true"
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ .Values.clusterName }}-starboard
  namespace: {{ .Release.Namespace }}
spec:
  catalog: giantswarm
  {{- include "kubeconfig" . | nindent 2 }}
  # {{- include "config" . | nindent 2 }}
  config:
    configMap:
      name: {{ .Values.clusterName }}-starboard-userconfig
      namespace: {{ .Release.Namespace }}
  name: starboard-app
  namespace: {{ default "security-pack" .Values.installNamespace }}
  version: 0.5.2
---
kind: ConfigMap
apiVersion: v1
metadata:
  creationTimestamp: null
  name: {{ .Values.clusterName }}-starboard-userconfig
  namespace: {{ .Release.Namespace }}
data:
  values: |
    starboard-app:
      trivy:
        serverURL: "http://{{ .Values.clusterName }}-trivy:4954"
{{ end }}
